.cashier-status-container {
  font-size: 0.9rem;
  background-color: rgba(0, 0, 0, 0.03);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.text-success {
  font-weight: bold;
  color: #2eb85c !important;
}

.text-danger {
  font-weight: bold;
  color: #e55353 !important;
}
