<div class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">
              <form cForm [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <h1>Registro</h1>
              <p class="text-body-secondary">Crie um usuário DEMONSTRAÇÃO</p>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilUser"></svg>
                </span>
                <input autoComplete="nameCustomer" formControlName="nameCustomer" cFormControl placeholder="Empresa"
                       [ngClass]="{'is-invalid': registerForm.get('nameCustomer')?.invalid && registerForm.get('nameCustomer')?.touched}" />
                <c-form-feedback [valid]="false"
                                 *ngIf="registerForm.get('nameCustomer')?.hasError('required') && registerForm.get('nameCustomer')?.touched">
                  Nome da empresa é obrigatório.
                </c-form-feedback>
              </c-input-group>
              <c-input-group class="mb-3" cValidation>
                <span cInputGroupText>
                  <svg cIcon name="cil-notes"></svg>
                </span>
                <input autoComplete="documentCustomer" formControlName="documentCustomer" cFormControl placeholder="CPF/CNPJ" mask="000.000.000-00||00.000.000/0000-00"
                       [ngClass]="{'is-invalid': registerForm.get('documentCustomer')?.invalid && registerForm.get('documentCustomer')?.touched}" />
                <c-form-feedback [valid]="false" *ngIf="registerForm.get('documentCustomer')?.invalid && registerForm.get('documentCustomer')?.touched">
                  CPF/CNPJ é obrigatório e precisa ser válido.
                </c-form-feedback>
              </c-input-group>
              <c-input-group class="mb-3" *ngIf="stepEmployee" cValidation>
                <span cInputGroupText>&#64;</span>
                <input autoComplete="email" formControlName="email" cFormControl placeholder="Email" 
                [ngClass]="{'is-invalid': registerForm.get('email')?.invalid && registerForm.get('email')?.touched}"/>
                <c-form-feedback [valid]="false" *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
                  Email é obrigatório e precisa ser válido.
                </c-form-feedback>
              </c-input-group>
              <c-input-group class="mb-3" *ngIf="stepEmployee" cValidation>
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input autoComplete="new-password" formControlName="password" cFormControl placeholder="Password" type="password"
                 [ngClass]="{'is-invalid': registerForm.get('password')?.invalid && registerForm.get('password')?.touched}"/>
                <c-form-feedback [valid]="false" *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
                  Senha é obrigatória e precisa ter pelo menos 6 caracteres.
                </c-form-feedback>
              </c-input-group>
              <c-input-group class="mb-4" *ngIf="stepEmployee" cValidation>
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input autoComplete="new-password" formControlName="repeatPassword" cFormControl  placeholder="Repeat password" type="password" 
                [ngClass]="{'is-invalid': registerForm.get('repeatPassword')?.invalid && registerForm.get('repeatPassword')?.touched}"/>
                <c-form-feedback [valid]="false" *ngIf="registerForm.get('repeatPassword')?.invalid && registerForm.get('repeatPassword')?.touched">
                  Senha é obrigatória e precisa ter pelo menos 6 caracteres.
                </c-form-feedback>
              </c-input-group>
              <button
                cButton *ngIf="stepCustomer"
                color="success"
                [disabled]="registerForm.get('nameCustomer')?.value == '' || registerForm.get('documentCustomer')?.value == ''" 
                (click)="stepEmployee = true; stepCustomer = false"             >
                Prosseguir
              </button>
              <div class="d-grid" *ngIf="stepEmployee">
                  <button
                    cButton
                    color="success"
                    type="submit"
                    [disabled]="!registerForm.valid"
                  >
                    Cadastrar
                  </button>
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>
