<div class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">
              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">              
                <h1>Registro</h1>
              <p class="text-body-secondary">Crie um usuário DEMONSTRAÇÃO</p>
              <c-input-group class="mb-3" >
                <span cInputGroupText>
                  <svg cIcon name="cilUser"></svg>
                </span>
                <input autoComplete="nameCustomer" formControlName="nameCustomer" cFormControl placeholder="Empresa"/>
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cil-notes"></svg>
                </span>
                <input autoComplete="documentCustomer" formControlName="documentCustomer" cFormControl placeholder="CPF/CNPJ" />
              </c-input-group>
              <!-- <c-input-group class="mb-3" *ngIf="stepEmployee">
                <span cInputGroupText>
                  <svg cIcon name="cilUser"></svg>
                </span>
                <input autoComplete="name" formControlName="name" cFormControl placeholder="Nome"/>
              </c-input-group>
              <c-input-group class="mb-3" *ngIf="stepEmployee">
                <span cInputGroupText>
                  <svg cIcon name="cil-notes"></svg>
                </span>
                <input autoComplete="document" formControlName="document" cFormControl placeholder="Documento " />
              </c-input-group> -->
              <c-input-group class="mb-3" *ngIf="stepEmployee">
                <span cInputGroupText>&#64;</span>
                <input autoComplete="email" formControlName="email" cFormControl placeholder="Email" />
              </c-input-group>
              <c-input-group class="mb-3" *ngIf="stepEmployee">
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input autoComplete="new-password" formControlName="password" cFormControl placeholder="Password" type="password" />
              </c-input-group>
              <c-input-group class="mb-4" *ngIf="stepEmployee">
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input autoComplete="new-password" formControlName="repeatPassword" cFormControl  placeholder="Repeat password" type="password" />
              </c-input-group>
              <button
                cButton *ngIf="stepCustomer"
                color="success"
                [disabled]="registerForm.get('nameCustomer')?.value == '' || registerForm.get('documentCustomer')?.value == ''" 
                (click)="stepEmployee = true; stepCustomer = false"             >
                Prosseguir
              </button>
              <div class="d-grid" *ngIf="stepEmployee">
                 <p> Atenção: Esta é uma conta de demonstração. 
                  <br>Outros usuários também têm acesso. 
                  <br>Não compartilhe nem cadastre dados pessoais ou sensíveis. </p>
                    <div class="form-check mb-3">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        cFormControl
                        formControlName="confirmDemo"
                      />
                      <label class="form-check-label" for="confirmDemo">
                        Li e concordo
                      </label>
                  </div>

                  <button
                    cButton
                    color="success"
                    type="submit"
                    [disabled]="!registerForm.valid || !registerForm.get('confirmDemo')?.value"
                  >
                    Criar Usuário Demonstração
                  </button>
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>
