<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <!--Import Google Icon Font-->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!--Import materialize.css-->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CL SYSTEM</title>
</head>
<body>
    <header-custom></header-custom>
    <div class="row">
        <navbar-custom></navbar-custom>
        <!-- Conteúdo -->
        <div class="col s12 m8 l9">  
            <div class="card-panel teal">
                <span class="white-text">Histórico de Caixa</span>
                <a href="#modal1" id="add-product" class="waves-effect right btn modal-trigger">Abrir Caixa</a>
            </div>
            <div class="divider"></div>
            <div class="row">
                <table class="striped" id="table-cashier">
                    <thead>
                        <div class="input-field">
                            <input type="text" id="input-search" class="validate">
                            <label for="input-search">Buscar Funcionário ou Período</label>
                        </div>
                        <tr>
                            <th>Visualizar</th>
                            <th>Caixa</th>
                            <th>Funcionário</th>
                            <th></th>
                            <th>Data Hora Abertura</th>
                            <th>Data Hora Fechamento</th>
                            <th>Valor Total</th>
                        </tr>
                    </thead>
          
                    <tbody>
                        <!-- Resume -->
                    </tbody>
                </table>
            </div>
        </div>    
    </div>   
    <modal-custom></modal-custom>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="module" src="../../assets/js/Utils/Interceptor.js"></script>
    <script type="module" src="../../assets/js/commonComponents/navbarCustom.js"></script>
    <script type="module" src="../../assets/js/cash_history.js"></script>

    <script type="module" src="../../../routes.js"></script>
</body>
</html>