<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <!--Import Google Icon Font-->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!--Import materialize.css-->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <script type="module" src="../../assets/js/employee.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CL SYSTEM</title>
</head>
<body>
    <header-custom></header-custom>
    <div class="row">
        <navbar-custom></navbar-custom>
        
        <!-- Conteúdo -->
        <div class="col s12 m8 l9">  
            <div class="card-panel teal">
                <span class="white-text">Cadastro de Funcionários</span>
                <a href="#modal1" id="add-employee" class="waves-effect right btn modal-trigger">Adicionar</a>
            </div>
            <div class="divider"></div>
            <div class="row">
                <div class="col s12 m12 l12 section-table-employee right">
                    <div class="row">
                        <table class="striped" id="table-employees">
                            <thead>
                                <div class="input-field">
                                    <input type="text" id="input-search" class="validate">
                                    <label for="input-search">Buscar Funcionário</label>
                                </div>
                                <progress-custom></progress-custom>
                                <tr>
                                    <th>Código Funcionário</th>
                                    <th>Nome</th>
                                    <th>Documento</th>
                                    <th>Data Inicial</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                
                            <tbody>
                                <!-- Employees -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>       
      </div>
    
  <!-- Modal Structure For Insert And Update Product -->
  <div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
      <h4 id="modal1-header">Editar Funcionário</h4>
      <form id="form-employee" action="">
            <div class="col l12">
                <div class="row">
                    <div class="input-field col l1">
                        <input type="number" id="id-employee" class="validate" value="" disabled>
                        <label for="id-employee" data-error="wrong" data-success="right">Código</label>
                    </div>
                    <div class="input-field col l5">
                        <input type="text" id="employee" class="validate">
                        <label for="employee" data-error="Inválido" data-success="Válido">Funcionário</label>
                    </div>
                    <div class="input-field col l5">
                        <input type="text" id="document" class="validate">
                        <label for="document" data-error="Inválido" data-success="Válido">Documento</label>
                    </div>
                    <div class="col l3">
                        <input id="initial-date" type="date" class="validate">
                        <label for="initial-date">Data Inicial</label>
                    </div>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <button class="btn-large waves-effect waves-light col l2" type="submit" name="action">Salvar
                        <i class="material-icons right">save</i>
                    </button>
                </div>
            </div>
      </form>
    </div>
  </div>
    <!-- Modal Structure For Delete Product -->
    <div id="modal-delete" class="modal">
        <div class="modal-content">
        <h4>ATENÇÃO</h4>
        <p>Deseja realmente excluir?</p>
        </div>
        <div class="modal-footer">
        <a href="#!" id="modal-delete-btn-yes" class="modal-close waves-effect waves-green btn-flat">Sim</a>
        </div>
    </div>
    <modal-custom></modal-custom>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="module" src="../../assets/js/Utils/Interceptor.js"></script>
    <script type="module" src="../../assets/js/commonComponents/navbarCustom.js"></script>
    <script type="module" src="../../../routes.js"></script>

</body>
</html>