<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página Não Encontrada</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <style>
    .container {
      margin-top: 10%;
      text-align: center;
    }
    .error-icon {
      font-size: 100px;
      color: #e53935;
    }
  </style>
</head>
<body>
  <div class="container">
    <i class="material-icons error-icon">error_outline</i>
    <h4>Página Não Encontrada</h4>
    <p>Desculpe, a página que você está tentando acessar não existe.</p>
    <a href="/sale" class="btn waves-effect waves-light">Voltar para a Página Inicial</a>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!-- <script type="module" src="../../assets/js/login.js"></script> -->
  <script type="module" src="../../../routes.js"></script>
</body>
</html>
