<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <!--Import Google Icon Font-->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!--Import materialize.css-->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script src="/src/assets/js/product_registration.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CL SYSTEM</title>
</head>
<body>
    
    <div class="row">
        <!-- Menu Lateral -->
        <div class="col s2">
            <ul class="collection">
            <li class="collection-item"><a href="http://127.0.0.1:5500/src/index.html">Venda</a></li>
            <li class="collection-item"><a href="http://127.0.0.1:5500/src/view/pages/product_registration.html">Cadastro de Produtos</a></li>
            <li class="collection-item"><a href="#">Cadastro de Funcionários</a></li>
            </ul>
        </div>
        <!-- Conteúdo -->
        <div class="col s10">  
            <div class="card-panel teal">
                <span class="white-text">Cadastro de Produtos</span>
            </div>
            <div class="divider"></div>
            <div class="row">
                <table class="striped" id="table-products">
                    <thead>
                        <tr>
                            <th>Código Produto</th>
                            <th>Produto</th>
                            <th>Valor Custo</th>
                            <th>Valor Venda</th>
                        </tr>
                    </thead>
          
                    <tbody>
                        <!-- Products -->
                    </tbody>
                </table>
            </div>
        </div>       
      </div>
    
  <!-- Modal Structure For Insert And Update Product -->
  <div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <form id="form-product" action="">
            <div class="col l12">
                <div class="row">
                    <div class="input-field col l1">
                        <input type="number" id="id-product" class="validate" value="" disabled>
                        <label for="id-product" data-error="wrong" data-success="right">Código</label>
                    </div>
                    <div class="input-field col l5">
                        <input type="text" id="product" class="validate">
                        <label for="product" data-error="Inválido" data-success="Válido">Produto</label>
                    </div>
                    <div class="input-field col l3">
                        <input type="number" min="0.01" step="0.01" id="value-cost" class="validate">
                        <label for="value-cost" data-error="Inválido" data-success="Válido">Valor de Custo</label>
                    </div>
                    <div class="input-field col l3">
                        <input type="number" min="0.01" step="0.01" id="value-sale" class="validate">
                        <label for="value-sale" data-error="Inválido" data-success="Válido">Valor de Venda</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col l6">
                        <input type="text" id="product-description" class="materialize-textarea">
                        <label for="product-description">Descrição do Produto</label>
                    </div>
                    <div class="input-field col l4">
                        <input type="text" id="bar-code" class="materialize-textarea">
                        <label for="bar-code">Código de Barras</label>
                    </div>
                    <button class="btn-large waves-effect waves-light col l2" type="submit" name="action">Salvar
                        <i class="material-icons right">save</i>
                    </button>
                </div>
            </div>
      </form>
    </div>
  </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

</body>
</html>