<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <!--Import Google Icon Font-->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!--Import materialize.css-->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script src="/frontend/src/assets/js/sale.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CL SYSTEM</title>
</head>
<body>
    
    <div class="row">
        <!-- Menu Lateral -->
        <div class="col s2">
            <ul class="collection">
                <li class="collection-item"><a href="http://127.0.0.1:5500/frontend/src/view/pages/sale.html">Venda</a></li>
                <li class="collection-item"><a href="http://127.0.0.1:5500/frontend/src/view/pages/product_registration.html">Cadastro de Produtos</a></li>
                <li class="collection-item"><a href="http://127.0.0.1:5500/frontend/src/view/pages/employee.html">Cadastro de Funcionários</a></li>
            </ul>
        </div>
        <!-- Conteúdo -->
        <div class="col s10">  
            <div class="row">
                <!-- input entry product -->
                <div class="input-field">
                  <input value="" id="input-product" type="text" class="autocomplete">
                  <label class="active" for="input-product">Produto</label>
                </div>
            </div>
            <div class="divider"></div>
            <div class="row">
                <div class="input-field col s2">
                    <!-- input quantity -->
                    <input value="" id="input-quantity" type="number" min="0" class="validate" >
                    <label class="active" for="input-quantity">Quantidade</label>
                  </div>
                  <!-- input unitary value disabled -->
                  <div class="input-field col s2">
                    <input disabled value="" id="unitary-value" type="number" min="0.01" class="validate">
                    <label class="active" for="unitary-value">Valor Unitário</label>
                  </div>
                  <!-- Shopping List -->
                <div class="scrollbar col s8" style="height: 80vh; overflow-y: auto;">
                    <div class="row">
                        <table class="striped" id="table-itens">
                            <thead>
                                <tr>
                                    <th>Quantidade</th>
                                    <th>Descrição</th>
                                    <th>Valor Unitário</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                  
                            <tbody>
                                <!-- Products -->
                            </tbody>
                        </table>
                    </div>
                </div> 
            </div>
            <div class="row">
                <div class="col l8 offset-l4">
                    <div class="card-panel teal lighten-2">
                        <span class="white-text">Total</span>
                        <span class="white-text right" id="span-total-list">0,00</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col l3 right">
                    <a class="waves-effect waves-light green btn right">Pagamento (f2)</a>
                </div>
                <div class="col l3 right">
                    <a class="waves-effect waves-light red btn right">Cancelamento (f12)</a>
                </div>
            </div>
        </div>       
      </div>
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>
</html>